
@import "~bootstrap/dist/css/bootstrap.css";

@color: #f7f7f7;

html{
  height: 100%;
  overflow:hidden;
}

body{
  font-size: 0.9em;
  background: @color;
  height: 100%;
}

#app{
  height:100%;
  overflow:hidden;
}


.tab-pane{
  padding: 12px;
}