
@import "~bootstrap/dist/css/bootstrap.css";

@color: #f7f7f7;

html{
  height: 100%;
  overflow:hidden;
}

body{
  font-size: 0.9em;
  background: @color;
  height: 100%;
}

#app{
  height:100%;
  overflow:hidden;
}


.tab-pane{
  padding: 12px;
}


#slideshow{
  position: absolute;
  width:100%;
  height:100%;
  background:pink;
  top:0px;
  left:0px;
  display:none;
  z-index:1;
}
#prevPage{
  left: -100%;
}
#currPage{

}
#nextPage{
  left: 100%;
}

/* this is the main class that holds the page*/
.pageWrap{
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  left:0;
  background: #ffffcc;
  display: flex;
  flex-direction: column;
}
/* this is in addition to pageWrap in debug mode*/
.pageWrapDebug{
  height:50%;
  width:50%;
  border: 1px solid #333;
}

#prevPage.pageWrapDebug {
  top: 25%;
  left: -28%
}

#currPage.pageWrapDebug {
  top: 25%;
  left:25%;
}

#nextPage.pageWrapDebug {
  top: 25%;
  left:78%
}


.pageWrap .pageTitle{
  text-align: center;
  font-size: 1.2em;
  line-height:1.2em;
  display: table-cell;
  vertical-align: middle;
  margin:0;
  padding:0.4em;
}

// this holds all the page content *except* the title
.pageWrap .pageContent{
  text-align: center;
  height: 10%;
  min-height: 1em;
  background: #ccc;
  flex-grow: 1; // tak up all remaining space besides title
  margin:0;
  padding:10px 0px;

  display: flex;
  flex-direction: row;
}

// finally, this holds actual content (inside pageContent)
.pageWrap .pageBlock{
  background:red;
  padding: 5px 15px;
}

.pageWrap .pageBlockMulti{
  border-left: 1px solid #ccc;
}